{% extends 'base.html' %}
{% block title %}Portfolio{% endblock %}
{% block content %}

    <!-- Photo, Name, Descr -->
    <div class="container mt-5 text-center">
        <img src="{{ url_for('static', filename='../static/image/profile_picture.jpg' ) }}" alt="MyPhoto" class="myPhoto">
        <h1 class="big-title mt-3">Kovalov Oleg</h1>
        <hr>
        <!-- Personal Description -->
        <p class="mt-3">
            <!-- Add your personal description here -->
        </p>
    </div>

    <!-- Contacts -->
    <div class="container mt-5 text-center">
        <!-- Add your contact information or links here -->
    </div>

    <div class="container mt-5 text-center">
        <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">EDUCATION</h4>
                <hr>
                <p class="card-text">
                    <h5>Vasyl Stefanyk Precarpathian National University.</h5> <!-- Education Details -->
                </p>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}
